@font-face
{
  font-family: KaushanScript-Regular;
  src: url("../fonts/KaushanScript-Regular.otf");
  font-style: italic;
  font-weight: normal;
}

@font-face
{
  font-family: MontserratBold;
  src: url("../fonts/Montserrat-Bold.otf");
  font-style: normal;
  font-weight: bold;
}

@font-face
{
  font-family: MontserratLight;
  src: url("../fonts/Montserrat-Light.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face
{
  font-family: MontserratRegular;
  src: url("../fonts/Montserrat-Regular.otf");
  font-style: normal;
  font-weight: normal;
}

*
{
  margin: 0;
}

.body_width
{
  max-width: 1200px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.clear
{
  clear: both;
}

.block
{
  float: left;
}

.overall_container
{
  width: 100%;
  height: 100%;
  text-align: center;
}

.header_cursive
{
  font-family: KaushanScript-Regular, cursive;
  font-size: 1.5em; /* 24px / 16px */
  color: black;
  padding-top: 7% /* 89px / 1200px */;
  font-style: italic;
}

.header_text
{
  font-family: MontserratBold, sans-serif;
  font-size: 1.9375em/* 31px / 16px */;
  color: black;
  margin-top: 0.5% /* 6px / 1200px */;
  font-weight: bold;
}

.header_line
{
  margin: 2.66666666666667% auto 3.5% /* 32px auto 42px */;
  width: 3.75em /* 60px / 16px */;
  height: 0.1875em /* 3px / 16px */;
  background: #f38181;
}

.text_content
{
  font-family: MontserratLight, sans-serif;
  font-size: 0.875em /* 14px / 16px */;
  color: #999999;
  width: 82.5% /* 990px / 1200px */;
  margin: 0 auto 0;
  line-height: 1.5625em /* 25px / 16px */;
}

.arrows
{
  background: url("../img/icons/arrows.png") no-repeat;
  width: 14px;
  height: 14px;
}

.arrow_left.arrows
{
  background-position: -42px 0;
  margin: 70px 30px 0 0;
}

.arrow_right.arrows
{
  background-position: -28px 0;
  margin: 70px 0 0 30px;
}

.arrow_up.arrows
{
  background-position: 0 0;
}

.arrow_down.arrows
{
  background-position: -14px 0;
}

.container_welcome
{
  background: url("../img/backgrounds/eagle.png") no-repeat;
  background-size: cover;
}

.logo
{
  background: url("../img/mogo.png") no-repeat;
  background-size: contain;
  width: 5.625em /* 90px / 16px */;
  height: 1.5625em /* 25px / 16px */;
  margin-top: 2.5% /* 30px / 1200px */;
  float: left;
}

.menu_slide
{
  display: none;
}

.menu
{
  margin-top: 2.91666666666667% /* 35px / 1200px */;
  float: right;
}

.menu_text
{
  font-family: MontserratLight, sans-serif;
  font-size: 0.875em /* 14px / 16px */;
  color: white;
  margin: 0 1.5em /* 0 24px */;
  padding-bottom: 0.3125em /* 5px / 16px */;
  text-decoration: none;
}

.menu_text:hover
{
  color: #fce38a;
  border-bottom: 0.15em solid #fce38a /* 2px */;
}

.menu_icon
{
  font-family: MontserratLight, sans-serif;
  font-size: 0.75em /* 12px / 16px */;
  color: white;
  padding: 0 1.5em /* 0 24px */;
  text-decoration: none;
}

.menu_icon:hover
{
  color: #fce38a;
}

.menu_inline
{
  display: inline;
}

.cursive_welcome
{
  font-family: KaushanScript-Regular, cursive;
  font-size: 4.5em /* 72px / 16px */;
  color: white;
  margin-top: 13.08333333333333% /* 157px / 1200px */;
  font-style: italic;
}

.welcome
{
  font-family: MontserratBold, sans-serif;
  font-size: 9.375em /* 150px / 16px */;
  color: white;
  line-height: 0.9em /* 140px / 16px */;
  width: 66.66666666666667% /* 800px / 1200px */;
  margin: 1.66666666666667% auto 0 /* 20px auto 0 */;
  font-weight: bold;
}

.line_welcome
{
  margin: auto;
  margin-top: 5% /* 60px / 1200px */;
  margin-bottom: 5.16666666666667% /* 62px / 1200px */;
  width: 3.9375em /* 63px / 16px */;
  height: 0.1875em /* 3px / 16px */;
  background: white;
}

.button
{
  border: 0.1875em solid white /* 3px / 16px */;
  padding: 0.83333333333333% 2.5% /* 10px 30px */;
  font-family: MontserratRegular, sans-serif;
  font-size: 0.875em /* 14px / 16px */;
  color: white;
  text-decoration: none;
}

.button:hover
{
  border: 0.1875em solid #c5f7ee /* 3px / 16px */;
  color: #c5f7ee;
  text-decoration: none;
}

.number_welcome
{
  font-family: MontserratBold, sans-serif;
  font-size: 1.625em /* 26px / 16px */;
  font-weight: bold;
}

.footer_welcome
{
  font-family: MontserratLight, sans-serif;
  font-size: 1em /* 16px / 16px */;
  margin: 14.16666666666667% auto 0 /* 170px auto 0 */;
  width: 90% /* 1230px */;
  height: 4.375em /* 70px / 16px */;
}

.color_mix
{
  height: 85.71428571428571% /* 60px / 70px */;
  width: 22.91666666666667% /* 275px / 1200px */;
}

.color_mix_others
{
  margin-left: 2.7778% /* 33px / 1200px */;
}

.footer_text
{
  display: block;
  text-align: left;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  position: relative;
}

.change_color_red
{
  position: absolute;
  display: block;
  margin: 0;
  height: 0.1875em /* 3px / 16px */;
  width: 21.8181818181818182% /* 60px / 275px */;
  background: #f7eac4;
}

.change_color_white
{
  float: left;
  display: block;
  margin: 0 0 0.9375em /* 0 0 15px */;
  height: 0.1875em /* 3px / 16px */;
  width: 100%;
  background: #f7eac4;
}

.footer_text:hover .change_color_red
{
  background: #f38181;
}

.footer_text:hover .change_color_white
{
  background: white;
}

.pictures_story
{
  margin: 5.9375em auto 6.875em /* 95px auto 110px */;
  width: 82.5%;
  height: 16.5em;
}

.super_team
{
  width: 31% /* 380px / 16px */;
  height: 12.55em;
  position: relative;
  float: left;
}

.super_team.left_block
{
  background: url("../img/articles/super-team/super-team-left.png") no-repeat;
  background-size: contain;
}

.super_team.center_block
{
  background: url("../img/articles/super-team/super-team-center.png") no-repeat;
  margin-left: 2.08333333333% /* 25px / 1200px */;
  background-size: contain;
}

.super_team.right_block
{
  background: url("../img/articles/super-team/super-team-right.png") no-repeat;
  margin-left: 2.08333333333% /* 25px / 1200px */;
  background-size: contain;
}

.super_team_hover, 
.gradient
{
  width: 100% /* 380px / 16px */;
  height: 100% /* 248px / 16px */;
  position: absolute;
  top: -0.625em /* -10px / 16px */;
  left: -0.625em /* -10px / 16px */;
  display: none;
}

.left_block .super_team_hover, 
.left_block .gradient
{
  background: url("../img/articles/super-team/super-team-left.png") no-repeat;
  background-size: cover;
}

.center_block .super_team_hover, 
.center_block .gradient
{
  background: url("../img/articles/super-team/super-team-center.png") no-repeat;
  background-size: cover;
}

.right_block .super_team_hover, 
.right_block .gradient
{
  background: url("../img/articles/super-team/super-team-right.png") no-repeat;
  background-size: cover;
}

.super_team:hover .super_team_hover,
.super_team:hover .gradient
{
  display: block;
}

.super_team:hover
{
  background: #95e1d3;
}

.super_team .gradient
{
  background: -moz-linear-gradient(top, rgba(231,128,129,0.9), rgba(235,211,131,0.9));
  background: -webkit-linear-gradient(top, rgba(231,128,129,0.9), rgba(235,211,131,0.9));
  background: -o-linear-gradient(top, rgba(231,128,129,0.9), rgba(235,211,131,0.9));
  background: -ms-linear-gradient(top, rgba(231,128,129,0.9), rgba(235,211,131,0.9));
  background: linear-gradient(top, rgba(231,128,129,0.9), rgba(235,211,131,0.9));
  padding: 25% 0 0 /* 105px 0 0 */;
  text-align: center;
  box-sizing: border-box;
}

.gradient .small_icon
{
  background: url("../img/icons/users-icon.png") no-repeat;
  display: block;
  width: 1.4375em /* 23px / 16px */;
  height: 1.4375em /* 23px / 16px */;
  margin: 0 auto 0.375em /* 0 auto 6px */;
}

.gradient .super_team_text
{
  font: 1em MontserratRegular, sans-serif /* 16px / 16px */;
  color: white;
}

.footer_story
{
  background-color: #95e1d3;
  width: 100%;
  margin-bottom: 0.75em /* 12px / 16px */;
}

.text_low_story
{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 0;
}

.number_story
{
  font-family: MontserratBold, sans-serif;
  font-size: 4.5em /* 72px / 16px */;
  color: white;
  font-weight: bold;
}

.low_menu_story
{
  margin: 0 auto;
  padding: 5.5em 0 /* 70px 0 */;
  width: 19.83333333333% /* 238px / 1200px */;
  height: 8.4375em /* 135px / 16px */;
  border-right: 0.0625em solid #b5eae0 /* 1px */;
  font-family: MontserratLight, sans-serif;
  font-size: 0.875em /* 14px / 16px */;
  color: white;
  float: left;
}

.low_menu_story_left
{
  border-left: 0.0625em solid #b5eae0 /* 1px */;
}

.icon
{
  width: 2.5em /* 40px / 16px */;
  height: 2.5em /* 40px / 16px */;
  float: left;
  background: url("../img/icons/amazing-services.png") no-repeat;
}

.services_text
{
  width: 98.611111111111% /* 355px / 360px */;
  padding-left: 2.7777777777777778% /* 10px / 360px */;
}

.article_services
{
  width: 100%;
  margin: 4.375em auto 7.5em /* 70px auto 120px */;
}

.block.photography,
.block.web_design,
.block.creativity,
.block.seo,
.block.css,
.block.digital
{
  margin-left: 2.5% /* 30px / 1200px */;
  width: 30% /* 360px / 1200px */;
}

.services_text_header
{
  font-family: MontserratRegular, sans-serif;
  font-size: 0.875em /* 14px / 16px */;
  color: #333333;
  text-align: left;
  padding-left: 15.49295774647887% /* 55px / 355px */;
}

.services_text_content
{
  font-family: MontserratLight, sans-serif;
  font-size: 0.875em /* 14px / 16px */;
  color: #999999;
  width: 83.09859154929577% /* 295px / 355px */;
  text-align: left;
  margin: 0.625em 0 0 /* 10px 0 0 */;
  padding-left: 15.49295774647887% /* 55px / 355px */;
  line-height: 1.7857142857em /* 25px / 14px */;
}

.photography .icon
{
  background-position: 0 0;
}

.web_design .icon
{
  background-position: 0 -40px;
}

.creativity .icon
{
  background-position: 0 -80px;
}

.seo .icon
{
  background-position: 0 -120px;
}

.css .icon
{
  background-position: 0 -160px;
}

.digital .icon
{
  background-position: 0 -200px;
}

.services_line
{
  margin: 3.125em auto 2.6875em /* 50px auto 43px */;
  width: 100%;
  height: 0.0625em /* 1px / 16px */;
  background: #e5e5e5;
}

.container_design
{
  padding-top: 0.625em /* 10px / 16px */;
  background: url("../img/backgrounds/design.png") no-repeat;
  background-size: cover;
}

.article_design
{
  padding-top: 0.625em /* 10px / 16px */;
}

.ipad
{
  background: url("../img/articles/ipad.png") no-repeat;
  margin: 0 auto 0;
  width: 29.8125em /* 477px / 16px */;
  height: 36.6875em /* 587px / 16px */;
  position: relative;
}

.iphone
{
  background: url("../img/articles/iphone.png") no-repeat;
  position: absolute;
  top: 12.1875em /* 195px / 16px */;
  left: 22.5em /* 360px / 16px */;
  width: 17.125em /* 274px / 16px */;
  height: 29.25em /* 468px / 16px */;
}

.container_service

{
  margin-top: 0.9375em /* 15px / 16 px */;
}

.service_content
{
  margin: 5.3125em auto 6.875em /* 85px auto 110px */;
  width: 100%;
}

.picture_service
{
  width: 47.83333333333% /* 574px / 1200px */;
  float: left;
}

.picture_service_content
{
  width: 100%;
  height: auto;
}

.list_service
{
  width: 50% /* 600px / 1200px */;
  margin-left: 2.0833333333% /* 25px / 1200px */;
  float: left;
}

.ac-container
{
  width: 100%;
  height: 100%;
}

.ac-header
{
  display: block;
  position: relative;
  font-family: MontserratRegular, sans-serif;
  font-size: 0.875em /* 14px / 16px */;
  color: #333333;
  height: 2.625em /* 42px / 16px */;
  cursor: pointer;
  line-height: 2.625em /* 42px / 16px */;
  padding: 0.5625em 0 0.5625em 3.375em /* 9px 0 9px 54px */;
  text-align: left;
  border: 1px #e5e5e5 solid;
  margin-bottom: 0.625em /* 10px / 16px */;
}

.ac-header:hover
{
  background: #f5fcfb;
}

.ac-header:after,
.ac-container input:checked + .ac-header:after
{
  content:'';
  position: absolute;
  width: 1.0714em /* 15px / 14px */;
  height: 1.0714em /* 15px / 14px */;
  right: 0.92857em /* 13px / 14px */;
  top: 1.25em /* 20px / 16px */;
  background: url("../img/icons/arrows.png") no-repeat;
  background-position: -14px 0;
}

.ac-container input:checked + .ac-header:after
{
  background: url("../img/icons/arrows.png") no-repeat;
  background-position: 0 0;
}

.ac-header:before
{
  position: absolute;
  top: 0.8571em /* 12px / 14px */;
  left: 0.714286em /* 10px / 14px */;
  content: '';
  width: 2.28571em /* 32px / 14px */;
  height: 2.42857em /* 34px / 14px */;
  background: url("../img/icons/sprite-service.png") no-repeat;
}

.ac-1.ac-header:before
{
  background-position: 0 0;
}

.ac-2.ac-header:before
{
  background-position: 0 -44px;
}

.ac-3.ac-header:before
{
  background-position: 0 -88px;
}

.ac-container input
{
  display: none;
}

.ac-content
{
  text-align: left;
  font-family: MontserratLight, sans-serif;
  font-size: 0.875em /* 14px / 16px */;
  line-height: 1.7142857em /* 24px / 14px */;
  color: #b6b6b6;
  font-style: italic;
  height: 0;
  position: relative;
  overflow: hidden;
}

.ac-container input:checked ~ .ac-content
{
  border-left: 1px #e5e5e5 solid;
  border-right: 1px #e5e5e5 solid;
  border-bottom: 1px #e5e5e5 solid;
  margin-bottom: 0.625em /* 10px / 16px */;
  padding: 0.9375em /* 15px / 16px */;
  height: 9.375em /* 150px / 16px */;
  margin-top: -0.625em /* -10px / 16px */;
  overflow-y: scroll;
}

.footer_services
{
  background: #f8f8f8;
  width: 100%;
  text-align: center;
}

.footer_services_content
{
  width: 90%;
  margin: 0 auto 0;
  padding: 4.375em 0 /* 70px 0 */;
}

.footer_services_image
{
  background: url("../img/footers/quote-image.png") no-repeat;
  background-size: contain;
  width: 15% /* 157px / 1200px */;
  height: 9.8125em /* 157px / 16px */;
}

.footer_services_text
{
  padding-left: 2% /* 30px / 1200px */;
  margin-top: 0.625em /* 10px / 16px */;
  width: 70% /* 900px / 1200px */;
}

.footer_services_ph
{
  font-family: MontserratLight, sans-serif;
  width: 100%;
  text-align: left;
  font-size: 1.4375em /* 23px / 16px */;
  color: #999999;
  line-height: 1.47826em /* 34px / 23px */;
  font-style: italic;
  padding-bottom: 0.9375em /* 15px / 16px */;
}

.footer_services_line
{
  width: 3.75em /* 60px / 16px */;
  height: 0.1875em /* 3px / 16px */;
  background: #f38181;
  margin: 1em 1em 1em 0 /* 16px 16px 16px 0 */;
}

.footer_services_author
{
  font-family: KaushanScript-Regular, cursive;
  font-size: 1.5em /* 24px / 16px */;
  color: black;
  font-style: italic;
  text-align: left;
}

.pictures_team
{
  margin: 5.375em auto 10em /* 85px auto 160px */;
  width: 100%;
  height: 31.25em /* 500px / 16px */;
}

.our_team
{
  width: 23.75em /* 380px / 16px*/ ;
  height: 29.5em /* 472px / 16px */;
  position: relative;
  float: left;
}

.our_team.left_block,
.left_block .our_team_hover, 
.left_block .gradient_people
{
  background: url("../img/articles/our-team/team-left.png") no-repeat;
  background-size: contain;
}

.our_team.center_block,
.center_block .our_team_hover, 
.center_block .gradient_people
{
  background: url("../img/articles/our-team/team-center.png") no-repeat;
  background-size: contain;
}

.our_team.right_block,
.right_block .our_team_hover, 
.right_block .gradient_people
{
  background: url("../img/articles/our-team/team-right.png") no-repeat;
  background-size: contain;
}

.our_team.center_block,
.our_team.right_block
{
  margin-left: 2.08333333% /* 25px / 1200px */;
}

.our_team_hover,
.gradient_people
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: -0.625em /* -10px / 16px */;
  left: -0.625em /* -10px / 16px */;
  display: none;
}

.our_team:hover
{
  background: #95e1d3;
}

.our_team .gradient_people
{
  background: -moz-linear-gradient(top, rgba(231,128,129,0.9), rgba(235,211,131,0.9));
  background: -webkit-linear-gradient(top, rgba(231,128,129,0.9), rgba(235,211,131,0.9));
  background: -o-linear-gradient(top, rgba(231,128,129,0.9), rgba(235,211,131,0.9));
  background: -ms-linear-gradient(top, rgba(231,128,129,0.9), rgba(235,211,131,0.9));
  background: linear-gradient(top, rgba(231,128,129,0.9), rgba(235,211,131,0.9));
  text-align: center;
  box-sizing: border-box;
}

.our_team:hover .our_team_hover,
.our_team:hover .gradient_people
{
  display: block;
}

.social_team
{
  cursor: pointer;
  width: 15.25em /* 244px / 16px */;
  height: 3.75em /* 60px / 16px */;
  margin: 13.125em auto 0 /* 210px auto 0 */;
}

.social_team_button
{
  width: 3.75em /* 60px / 16px */;
  height: 3.75em /* 60px / 16px */;
  background-color: #fce38a;
  border-right: 1px #f9bd87 solid;
  position: relative;
}

.social_team_button_last
{
  width: 3.75em /* 60px / 16px */;
  height: 3.75em /* 60px / 16px */;
  background-color: #fce38a;
  position: relative;
}

.social_icon
{
  width: 50% /* 30px / 60px */;
  height: 50% /* 30px / 60px */;
  background: url("../img/icons/icon-social.png") no-repeat;
  position: absolute;
  top: 25% /*15px / 60px */;
  left: 25% /*15px / 60px */;
}

.social_team_button:hover
{
  background-color: #f38181;
}

.social_team_button_last:hover
{
  background-color: #f38181;
}

.social_team_button:hover .facebook.social_icon
{
  background-position: 0 0;
}

.facebook.social_icon
{
  background-position: 0 -40px;
}

.social_team_button:hover .twitter.social_icon
{
  background-position: 0 -80px;
}

.twitter.social_icon
{
  background-position: 0 -120px;
}

.social_team_button:hover .pointerest.social_icon
{
  background-position: 0 -160px;
}

.pointerest.social_icon
{
  background-position: 0 -200px;
}

.social_team_button_last:hover .instagram.social_icon
{
  background-position: 0 -240px;
}

.instagram.social_icon
{
  background-position: 0 -280px;
}

.our_team_name
{
  font-family: MontserratRegular, sans-serif;
  font-size: 0.875em /* 14px / 16px */;
  color: #333333;
  text-align: center;
  padding-top: 500px;
}

.our_team_prof
{
  font-family: MontserratLight, sans-serif;
  font-size: 0.875em /* 14px / 16px */;
  color: #999999;
  font-style: italic;
  text-align: center;
  padding-top: 0.625em /* 10px / 16px */;
}

.footer_team
{
  background: #f5f5f5;
  width: 100%;
  text-align: center;
  margin-bottom: 1.25em /* 20px / 16px */;
}

.footer_team_content
{
  width: 90%;
  margin: 0 auto 0;
  padding: 3.125em 0 /* 50px 0 */;
}

.team_logos
{
  background: url("../img/articles/our-team/team-logos.png") no-repeat;
  background-size: contain;
  height: 9.375em /* 150px / 16px */;
}

.pictures_our_work
{
  margin: 6.25em auto 5em /* 100px auto 80px */;
  width: 100%;
  height: 48.75em /* 780px / 16px */;
}

.work_column
{
  width: 25%;
  height: 100%;
}

.right_part_block
{
  float: left;
}

.our_work_qw
{
  width: 100%;
  height: 50%;
}

.our_work_long
{
  width: 100%;
  height: 100%;
}

.our_work_qw_hover,
.gradient_work
{
  display: none;
}

.our_work_qw.left_top,
.left_top.our_work_qw_hover,
.left_top.gradient_work
{
  background: url("../img/articles/our-works/left-top.png") no-repeat;
}

.our_work_qw.left_bottom,
.left_bottom.our_work_qw_hover,
.left_bottom.gradient_work
{
  background: url("../img/articles/our-works/left-bottom.png") no-repeat;
}

.our_work_qw.center_top,
.center_top.our_work_qw_hover,
.center_top.gradient_work
{
  background: url("../img/articles/our-works/center-top.png") no-repeat;
}

.our_work_qw.center_bottom,
.center_bottom.our_work_qw_hover,
.center_bottom.gradient_work
{
  background: url("../img/articles/our-works/center-bottom.png") no-repeat;
}

.our_work_long.center_long,
.center_long.our_work_long_hover,
.center_long.gradient_work
{
  background: url("../img/articles/our-works/center-long.png") no-repeat;
}

.our_work_qw.right_top,
.right_top.our_work_qw_hover,
.right_top.gradient_work
{
  background: url("../img/articles/our-works/right-top.png") no-repeat;
}

.our_work_qw.right_bottom,
.right_bottom.our_work_qw_hover,
.right_bottom.gradient_work
{
  background: url("../img/articles/our-works/right-bottom.png") no-repeat;
}

.our_work_qw:hover .gradient_work,
.our_work_long:hover .gradient_work
{
  background: -moz-linear-gradient(top, rgba(231,128,129,0.9), rgba(235,211,131,0.9));
  background: -webkit-linear-gradient(top, rgba(231,128,129,0.9), rgba(235,211,131,0.9));
  background: -o-linear-gradient(top, rgba(231,128,129,0.9), rgba(235,211,131,0.9));
  background: -ms-linear-gradient(top, rgba(231,128,129,0.9), rgba(235,211,131,0.9));
  background: linear-gradient(top, rgba(231,128,129,0.9), rgba(235,211,131,0.9));
  text-align: center;
  width: 100%;
  height: 100%;
}

.our_work_qw:hover .our_work_qw_hover,
.our_work_qw:hover .gradient_work,
.our_work_long:hover .our_work_long_hover,
.our_work_long:hover .gradient_work
{
  display: block;
}

.gradient_content .small_icon_work,
.gradient_content_long .small_icon_work
{
  background: url("../img/icons/our-work-icon.png") no-repeat;
  display: block;
  width: 2.5em /* 40px / 16px */;
  height: 2.5em /* 40px / 16px */;
  margin: 0 auto 0.375em /* 0 auto 6px */;
}

.gradient_content .super_team_text,
.gradient_content_long .super_team_text
{
  display: block;
  font: 0.875em MontserratRegular, sans-serif /* 14px / 16px */;
  color: #fef7f2;
  margin: 0 auto 0;
  width: 60% /* 180px */;
}

.gradient_content .work_team_downtext,
.gradient_content_long .work_team_downtext
{
  display: block;
  font-family: MontserratLight, sans-serif;
  font-size: 0.8125em /* 13px / 16px */;
  color: #fefbf8;
  font-style: italic;
  padding-top: 0.3125em /* 5px / 16px */;
  width: 50% /* 150px */;
  margin: 0 auto 0;
}

.gradient_work .gradient_content
{
  display: block;
  padding-top: 45% /* 150px / 390px */;
}

.gradient_work .gradient_content_long
{
  display: block;
  padding-top: 100%;
}

.footer_our_work
{
  width: 100%;
  margin-bottom: 8.125em /* 130px / 16px */;
}

.footer_our_work .arrows
{
  margin-top: 6.875em /* 110px / 16px */;
}

.footer_our_work_content
{
  width: 90%;
  margin: 0 auto 0;
}

.footer_our_work_image
{
  background: url("../img/footers/our-work-footer.png") no-repeat;
  background-size: contain;
  width: 17.5% /* 210px / 1200px */;
  height: 13.125em /* 210px / 16px */;
  margin-top: 1.25em /* 20px / 16px */;
}

.footer_our_work_text
{
  padding-left: 2% /* 30px / 1200px */;
  margin-top: 3.125em /* 50px / 16px */;
  width: 70% /* 870px / 1200px */;
}

.footer_our_work_ph
{
  font-family: MontserratLight, sans-serif;
  margin: auto;
  text-align: left;
  font-size: 1.4375em /* 23px / 16px */;
  color: #999999;
  line-height: 1.47826em /* 34px / 23px */;
  font-style: italic;
  padding-bottom: 0.9375em /* 15px / 16px */;
}

.footer_our_work_line
{
  width: 3.75em /* 60px / 16px */;
  height: 3px;
  background: #f38181;
  margin: 1em 1em 1em 0 /* 16px 16px 16px 0 */;
}

.footer_our_work_author
{
  font-family: KaushanScript-Regular, cursive;
  font-size: 1.5em /* 24px / 16px */;
  color: black;
  font-style: italic;
  text-align: left;
}

.container_people
{
  padding-top: 0.9375em /* 15px / 16px */;
  background: url("../img/backgrounds/people.png") no-repeat;
  background-size: cover;
  width: 100%;
}

.article_people
{
  margin: 6.25em auto 0 /* 100px auto 0 */;
  width: 100% /* 1130px */;
  padding-bottom: 7.8125em /* 125px / 16px */;
}

.top_people
{
  width: 100% /* 1130px */;
}

.left_person,
.right_person
{
  width: 46.9% /* 530px / 1130px */;
}

.person_icon
{
  width: 20.7547% /* 110px / 530px */;
  height: 6.875em /* 110px / 16px */;
  margin-top: -0.3125em /* -5px / 16px */;
}

.top_people .left_person .person_icon
{
  background: url("../img/articles/people-icon/people-mattew.png") no-repeat;
  background-size: contain;
}

.top_people .right_person .person_icon
{
  background: url("../img/articles/people-icon/people-nick.png") no-repeat;
  background-size: contain;
}

.bottom_people .left_person .person_icon
{
  background: url("../img/articles/people-icon/people-jaelynn.png") no-repeat;
  background-size: contain;
}

.bottom_people .right_person .person_icon
{
  background: url("../img/articles/people-icon/people-mike.png") no-repeat;
  background-size: contain;
}

.right_person
{
  margin-left: 6.19469% /* 70px / 1130px */;
}

.bottom_people
{
  margin-top: 4.375em /* 70px / 16px */;
}

.person_text
{
  width: 73.5849% /* 390px / 530px */;
  padding-left: 5.66% /* 30px / 530px */;
}

.person_text_header
{
  font-family: MontserratRegular, sans-serif;
  font-size: 0.875em /* 14px / 16px */;
  color: #333333;
  text-align: left;
}

.person_text_prof
{
  text-align: left;
  font-family: MontserratLight, sans-serif;
  font-size: 0.875em /* 14px / 16px */;
  color: #999999;
  font-style: italic;
  padding-top: 0.625em /* 10px / 16px */;
}

.person_line
{
  width: 3em;
  height: 3px;
  background: #f38181;
  margin: 1em 0 1.25em 0 /* 16px 0 20px 0 */;
}

.person_text_content
{
  font-family: MontserratLight, sans-serif;
  font-size: 0.875em /* 14px / 16px */;
  color: #999999;
  text-align: left;
  line-height: 1.785714em /* 25px / 14px */;
}

.container_blog
{
  margin-top: 1.25em /* 20px / 16px */;
}

.article_blog
{
  margin: 3.125em auto 3.125em /* 50px auto 50px */;
  width: 100%;
  padding-bottom: 4.375em /* 70px / 16 px */;
}

.center_blog,
.right_blog
{
  margin-left: 1.6666666667% /* 20px / 1200px */;
}

.content_blog
{
  width: 31.666666667% /* 380px / 1200px */;
}

.blog_image
{
  width: 100% /* 380px */;
  height: 15em /* 240px / 16px */;
  position: relative;
}

.left_blog .blog_image
{
  background: url("../img/articles/blog/blog-left.png") no-repeat;
  background-size: contain;
}

.center_blog .blog_image
{
  background: url("../img/articles/blog/blog-center.png") no-repeat;
  background-size: contain;
}

.right_blog .blog_image
{
  background: url("../img/articles/blog/blog-right.png") no-repeat;
  background-size: contain;
}

.blog_date
{
  width: 15.789474% /* 60px / 380px */;
  height: 25% /* 60px / 240px */;
  position: absolute;
  background: #95e1d3;
  top: 66.666666667% /* 160px / 240px */;
  left: -2.63% /* -10px / 380px */;
  padding: 0.3125em 0 0.3125em /* 5px 0 5px */;
}

.blog_text
{
  width: 100% /* 380px */;
}

.blog_text_header
{
  font-family: MontserratRegular, sans-serif;
  font-size: 0.875em /* 14px / 16px */;
  color: #333333;
  text-align: left;
  margin: 0.9375em 0 0.625em /* 15px 0 10px */;
}

.blog_text_header_red
{
  font-family: MontserratRegular, sans-serif;
  font-size: 0.875em /* 14px / 16px */;
  color: #f38181;
  text-align: left;
  margin: 0.625em 0 /* 10px 0 */;
}

.blog_text_content
{
  font-family: MontserratLight, sans-serif;
  font-size: 0.875em /* 14px / 16px */;
  color: #999999;
  text-align: left;
  line-height: 1.785714em /* 25px / 14px */;
}

.blog_line
{
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  margin: 0.8125em 0 0.8125em 0 /* 13px 0 13px 0 */;
}

.blog_follow
{
  width: 100% /* 380px */;
}

.blog_view,
.blog_speech
{
  width: 21.05% /* 80px / 380px */;
  height: 1.25em /* 20px / 16px */;
  position: relative;
}

.blog_follow_icon
{
  width: 33.333333% /* 20px / 60px */;
  height: 1.125em /* 18px / 16px */;
  background: url("../img/articles/blog/blog-sprite.png") no-repeat;
  position: absolute;
  top: 0.3125em /* 5px / 16px */;
  left: 0.3125em /* 5px / 16px */;
}

.blog_follow_text
{
  display: block;
  width: 66.666666667% /* 40px / 60px */;
  height: 0.9375em /* 15px / 16px */;
  text-align: left;
  font-family: MontserratLight, sans-serif;
  font-size: 0.875em /* 14px / 16px */;
  color: #999999;
  font-style: italic;
  padding: 0.3125em 0 0 1.875em /* 5px 0 0 30px */;
}

.blog_view .blog_follow_icon
{
  background-position: 0 0;
}

.blog_speech .blog_follow_icon
{
  background-position: 0 -18px;
}

.number_blog_date
{
  font-family: MontserratBold, sans-serif;
  font-size: 1.75em /* 28px / 16px */;
  color: white;
  font-weight: bold;
  position: relative;
  padding-top: 0.1875em /* 3px / 16px */;
}

.month_blog_date
{
  font-family: MontserratLight, sans-serif;
  font-size: 0.875em /* 14px / 16px */;
  font-style: italic;
  color: white;
  position: absolute;
  top: 2.3125em /* 37px / 16px */;
  left: 1.0625em /* 17px / 16px */;
}

.container_map
{
  background: url("../img/backgrounds/map.png") no-repeat;
  background-size: cover;
}

.header_map
{
  width: 20% /* 240px */;
  padding: 3.4375em 0 /* 55px 0 */;
  margin: 0 auto 0;
}

.map_icon
{
  width: 1.25em /* 20px / 16px */;
  height: 1.5625em /* 25px / 16px */;
  margin: 0 auto;
  background: url("../img/icons/map-icon.png") no-repeat;
  background-size: contain;
}

.header_text_map
{
  font-family: MontserratBold, sans-serif;
  font-size: 1.625em /* 26px / 16px */;
  color: #f38181;
  margin-top: 0.9375em /* 15px / 16px */;
  font-weight: bold;
}

.header_line_map
{
  margin: 0.9375em auto 0 /* 15px auto 0 */;
  width: 3.75em /* 60px / 16px */;
  height: 3px;
  background: #f38181;
}

.container_footer
{
  background: #f8f8f8;
  padding: 4.6875em 0 0 /* 75px 0 0 */;
}

.article_footer
{
  margin: 0 auto 4.375em /* 0 auto 70px */;
  width: 100%;
}

.footer_left
{
  width: 40.41666666% /* 485px / 1200px */;
  float: left;
}

.footer_logo
{
  background: url("../img/mogo-footer.png") no-repeat;
  background-size: contain;
  width: 26.597938% /* 129px / 485px */;
  height: 2.125em /* 34px / 16px */;
  float: left;
  padding-bottom: 1.25em /* 20px / 16px */;
}

.footer_left_text_content
{
  font-family: MontserratLight, sans-serif;
  font-size: 0.875em /* 14px / 16px */;
  color: #999999;
  text-align: left;
  line-height: 1.785714em /* 25px / 14px */;
  margin-top: 0.9375em /* 15px / 16px */;
}

.footer_followers
{
  font-family: MontserratLight, sans-serif;
  font-size: 0.875em /* 14px / 16px */;
  color: #333333;
  text-align: left;
  padding-top: 2.1875em /* 35px / 16px */;
}

.footer_followers_col
{
  font-family: MontserratBold, sans-serif;
  font-size: 1.125em /* 18px / 16px */;
  color: #333333;
  font-weight: bold;
}

.follow_us
{
  width: 22% /* 70px / 485px */;
  height: 0.9375em /* 15px / 16px */;
  text-align: left;
  font-family: MontserratLight, sans-serif;
  font-size: 0.8125em /* 13px / 16px */;
  color: #999999;
  font-style: italic;
  padding: 0.4375em 0.625em 0 0 /* 7px 10px 0 0 */;
}

.follow_us_buttons
{
  width: 72% /* 240px / 485px */;
  height: 1.5625em /* 25px / 16px */;
  margin-top: 0.3125em /* 5px / 16px */;
}

.follow_us_icon
{
  width: 1.25em /* 20px / 16px */;
  height: 1.25em /* 20px / 16px */;
  background: url("../img/icons/footer-follow-us.png") no-repeat;
  margin-right: 0.625em /* 10px / 16px */;
  cursor: pointer;
}

.follow_us_buttons .facebook .follow_us_icon
{
  background-position: 0 0;
}

.follow_us_buttons .twitter .follow_us_icon
{
  background-position: -30px 0;
}

.follow_us_buttons .instagram .follow_us_icon
{
  background-position: -60px 0;
}

.follow_us_buttons .pinterest .follow_us_icon
{
  background-position: -90px 0;
}

.follow_us_buttons .google .follow_us_icon
{
  background-position: -120px 0;
}

.follow_us_buttons .youtube .follow_us_icon
{
  background-position: -150px 0;
}

.follow_us_buttons .dribbble .follow_us_icon
{
  background-position: -180px 0;
}

.follow_us_buttons .tumblr .follow_us_icon
{
  background-position: -210px 0;
}

.footer_center,
.footer_right
{
  margin-left: 2.08% /* 25px / 1200px */;
  float: left;
}

.footer_center
{
  width: 32.5% /* 390px / 1200px */;
}

.footer_right
{
  width: 22.5% /* 270px / 1200px */;
}

.footer_text_overall_header
{
  font-family: MontserratRegular, sans-serif;
  font-size: 0.875em /* 14px / 16px */;
  color: #333333;
  text-align: left;
  margin: 0 0 2.5em 0 /* 0 0 40px 0 */;
}

.footer_center_content .middle,
.footer_center_content .bottom
{
  margin-top: 1.4375em /* 23px / 16px */;
}

.footer_center_content .footer_image
{
  width: 30.76923% /* 120px / 390px */;
  height: 5em /* 80px / 16px */;
}

.footer_center_content .top .footer_image
{
  background: url("../img/articles/footer/blogs-top.png") no-repeat;
  background-size: contain;
}

.footer_center_content .middle .footer_image
{
  background: url("../img/articles/footer/blogs-middle.png") no-repeat;
  background-size: contain;
}

.footer_center_content .bottom .footer_image
{
  background: url("../img/articles/footer/blogs-bottom.png") no-repeat;
  background-size: contain;
}

.footer_blogs_text
{
  width: 56.41% /* 220px / 390px */;
}

.footer_text_header
{
  font-family: MontserratRegular, sans-serif;
  font-size: 0.75em /* 12px / 16px */;
  color: #333333;
  text-align: left;
  margin: 0 0 0 0.9375em /* 0 0 0 15px */;
  line-height: 1.6666666667em /* 20px / 12px */;
}

.footer_text_data
{
  text-align: left;
  font-family: MontserratLight, sans-serif;
  font-size: 0.75em /* 12px / 16px */;
  color: #adadad;
  font-style: italic;
  margin: 0.3125em 0 0 0.9375em /* 5px 0 0 15px */;
}

.footer_right_content
{
  width: 100%;
  height: 300px /* 270px / 16px */;
}

.footer_right_content .top,
.footer_right_content .middle,
.footer_right_content .bottom
{
  height: 29% /* 87px / 270px */;
}

.footer_right_content_image
{
  width: 32.2222222% /* 87px / 270px */;
  height: 100% /* 87px / 270px */;
  margin: 1px;
}

.footer_right_content .top .left
{
  background: url("../img/articles/footer/inst-top-left.png") no-repeat;
}

.footer_right_content .top .center
{
  background: url("../img/articles/footer/inst-top-center.png") no-repeat;
}

.footer_right_content .top .right
{
  background: url("../img/articles/footer/inst-top-right.png") no-repeat;
}

.footer_right_content .middle .left
{
  background: url("../img/articles/footer/inst-middle-left.png") no-repeat;
}

.footer_right_content .middle .center
{
  background: url("../img/articles/footer/inst-middle-center.png") no-repeat;
}

.footer_right_content .middle .right
{
  background: url("../img/articles/footer/inst-middle-right.png") no-repeat;
}

.footer_right_content .bottom .left
{
  background: url("../img/articles/footer/inst-bottom-left.png") no-repeat;
}

.footer_right_content .bottom .center
{
  background: url("../img/articles/footer/inst-bottom-center.png") no-repeat;
}

.footer_right_content .bottom .right
{
  background: url("../img/articles/footer/inst-bottom-right.png") no-repeat;
}

.footer_view_more
{
  text-align: left;
  font-family: MontserratLight, sans-serif;
  font-size: 0.875em /* 14px / 16px */;
  color: #919191;
  font-style: italic;
  margin: 0.8125em 0 0 /* 13px 0 0 */;
  cursor: pointer;
}

.footer_template
{
  width: 33.333333% /* 400px / 1200px */;
  padding: 0.625em 0 /* 10px 0 */;
  margin: 0 auto;
}

.subscribe-form
{
  width: 100% /* 485px */;
  height: 2.5em /* 40px / 16px */;
  text-align: left;
  position: relative;
  margin-top: 1.875em /* 30px / 16px */;
}

.input_padding
{
  width: 45.36% /* 220px / 485px */;
  height: 1.8em /* 40px / 16px */;
  border-width: 1px;
  border-color: #cdcdcd;
  border-style: solid;
}

.subscribe-input
{
  margin: 2px;
  width: 97.2727272727% /* 214px / 220px */;
  height: 90% /* 34px */;
  font-family: MontserratLight, sans-serif;
  font-size: 0.8125em /* 13px / 16px */;
  background-color: #f8f8f8;
  color: #cdcdcd;
  font-style: italic;
  padding: 0;
  border: none;
}

.subscribe-input:focus
{
  outline: none;
}

.subscribe-submit
{
  display: block;
  width: 30.9278% /* 150px / 485px */;
  height: 2.625em /* 42px / 16px */;
  font-family: MontserratBold, sans-serif;
  font-size: 0.75em /* 12px / 16px */;
  color: white;
  font-weight: bold;
  background-color: #95e1d3;
  border: none;
  padding: 0;
  position: absolute;
  left: 45.773196% /* 222px / 485px */;
  cursor: pointer;
}